# Idea
/.idea/

# Vim
*.sw*

# Node
/node_modules/
/.pnp
.pnp.js

# Jest coverage
/tests/unit/coverage/

# Webpack builds
/dist

# mdbook builds
doc/book/build/

# devshell
.data/

# misc
.DS_Store
.env*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
